body {
    padding: 40px;
    background-color: #13101a;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

#excerpt {
    font-size: 30px;
    color: rgb(103, 69, 41);
    padding: 20px;
    max-width: 10em;
    position: fixed;
    top: 5em;
    left: 15.5em;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;

}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url("The Garden of Forking Paths Opened.svg");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.back-button {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 100px;
    height: 40px;
    background-color: rgb(74, 71, 104);
    color: rgb(131, 213, 16);
    font-size: 25px;
    text-align: center;
    padding-top: 5px;
    border-radius: 5px;
}