body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #13101a;
    cursor: url(key-cursor.svg), 32px x 32px;


}
  .image-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
  }
  
  .image-container {
    flex: 1; 
    text-decoration: none;
  }

  .image-container img {
    width: 400px; 
    height: auto;
    transition: transform 0.2s; 
    display: flex;
    justify-content: space-evenly;
  }

  .image-container img:hover {
    transform: scale(1.05);
  }